.control-item {
    width: calc(100% - 22px);
    height: auto;
    margin: auto;
    border: 2px solid #AAA;
    margin-top: 5px;
    border-radius: 3px;
    text-align: center;
    font-size: 11px;
    line-height: 25px;
    font-weight: 100;
    color: white;
    background-color: cadetblue;
    filter: invert(10%);
}

.control-item:hover {
    cursor: pointer;
    filter: invert(0%);
}
